ParceiroC/ParceiroC/Service References/ServiceReferenceCliente/Servico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2465/MecanismoDeIntegracao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2465/MecanismoDeIntegracao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2465/MecanismoDeIntegracao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MecanismoDeIntegracao" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICliente_AtualizarDados_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarDados" />
  </wsdl:message>
  <wsdl:message name="ICliente_AtualizarDados_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarDadosResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_RetornaClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornaClientes" />
  </wsdl:message>
  <wsdl:message name="ICliente_RetornaClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornaClientesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICliente">
    <wsdl:operation name="AtualizarDados">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/AtualizarDados" message="tns:ICliente_AtualizarDados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/AtualizarDadosResponse" message="tns:ICliente_AtualizarDados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornaClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/RetornaClientes" message="tns:ICliente_RetornaClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/RetornaClientesResponse" message="tns:ICliente_RetornaClientes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICliente" type="tns:ICliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AtualizarDados">
      <soap:operation soapAction="http://tempuri.org/ICliente/AtualizarDados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaClientes">
      <soap:operation soapAction="http://tempuri.org/ICliente/RetornaClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servico">
    <wsdl:port name="BasicHttpBinding_ICliente" binding="tns:BasicHttpBinding_ICliente">
      <soap:address location="http://localhost:2465/MecanismoDeIntegracao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>